.collapse {
    width: 95%;
    
}

.collapse_title {
    background-color: #FF6060;
    color: #FFF;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px ;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-weight: 500;
    width: 100%;
    margin-top: 15px;
}

.collapse_content{
  display: flex; 
  flex-direction: column;
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 5px;
  padding: 30px 20px;
  gap: 5px;
  visibility: visible;
  font-size: 22px;
  letter-spacing: 2px;
  transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
}

.collapse_hiden{
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.arrow {
    transition: all 2000ms ease-in-out;
}

.arrow_up{
    transform: rotate(180deg); 
}

.arrow_down{
     transform: rotate(180deg); 
}



/****** MOBILES *******/
@media screen  and (max-width: 390px){
  
    .collapse{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .collapse_title{
        width: 100%;
        font-size: 15px;
        height: 30px;
        
    }

    .collapse_content{
        font-size: 14px;
    }

    .arrow{
        width: 18px;
    }
    
} 
    
