

.collapse {
    width: 95%;
    
    
}

.collapse_title {
    background-color: #FF6060;
    color: #FFF;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px ;
    align-items: center;
    justify-content: space-between;
    /* height: 55px; */
    font-weight: 500;
    width: 100%;
    margin-top: 15px;
    
}

.collapse_content{
  display: flex; 
  flex-direction: column; 
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 5px;
  padding: 30px ;
  gap: 5px;
  
  letter-spacing: 0.5;  
  transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
}

.collapse_hiden{
    visibility: hidden;
    opacity: 0;
     height:0; 

}

.arrow {
    transition: all 2000ms ease-in-out;
}

.arrow_up{
    transform: rotate(180deg); 
}

.arrow_down{
     transform: rotate(180deg); 
}



/****** MOBILES *******/
@media screen  and (max-width: 420px){
  
    .collapse{
        /* width: 100%; */

        
        
        margin: auto;
        /* background-color: aqua; */
        
    }

    .collapse_title{
        width: 100%;
        font-size: 15px;
        height: 30px;
        
    }

    .collapse_content{
        font-size: 12px;
         padding: 15px 12px; 
        /* margin-bottom: 950px; */
        
    }

    .arrow{
        width: 18px;
    }
    
} 