.collapse {
    width: 95%;
    
    
}

.collapse_title {
    background-color: #FF6060;
    color: #FFF;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    padding: 20px 49px;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-weight: 500;
    width: 100%;
}




/****** MOBILES *******/

@media screen and(max-widht:390px){
    
    
}