.aboutcontainer{
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
  }
  
  .collapseContainer{
      /* display: flex;
      flex-direction: column;
      margin: auto;
      gap: 1.25rem;
      margin-bottom: 2.75rem;
      width: 90%; */
  }
  
  @media screen and (min-width: 992px){
    .collapseContainer{
      gap: 1.875rem;
    }
  }