.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width:1240px ;
    margin: 0 auto;
    margin-bottom: 50px;
}

.collapseContainer {
    display: flex;
    flex-direction: column;
    margin:  auto ; 
    margin-left: 90px;
    gap: 15px;
    width: 90%;
    font-size: 25px;
}

/***** Tablettes   *****/

@media screen and (max-width:920px){
    .aboutContainer {
        gap: 60px;
    }
    .collapseContainer{
       margin: auto;
        gap: 80px;
    }
}

/****** MOBILES ********/

@media screen and (max-width: 420px) {
    .aboutContainer{
        width: 100%;
        /* gap:80px */
        /* margin-bottom: 50px; */
        gap:35px;
        
    }
    .collapseContainer{
        width: 90%;
        margin: auto;
        margin-bottom:40px;
        gap:35px;
         
    }
    
}


