

.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width:1240px ;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
}

.collapseContainer {
    display: flex;
    flex-direction: column;
    margin:  auto ; 
    margin-left: 90px;
    gap: 15px; 
    width: 90%;
    font-size: 25px;
    /* overflow: hidden; */
}

/***** Tablettes   *****/

@media screen and (max-width:920px){
    .aboutContainer {
        gap: 60px;
    }
    .collapseContainer{
       margin: auto;
       /* background-color: aqua; */
        gap: 80px; 
        width: 80%;
        /* margin-left: 70px; */
        /* overflow: hidden; */
    }
}

/****** MOBILES ********/

@media screen and (max-width: 420px) {
    .aboutContainer{
        width: 100%;
        gap:15px;
        overflow: hidden;

        
    }
    .collapseContainer{
        width: 90%;
        margin: auto;
        /* margin-bottom:40px; */
        gap:15px;
        /* overflow: hidden; */
         
    }
    
}
