.Appartements{

    color: #ff6060;
    width: 95%;
    margin: 0 auto  50px;
}


.logement_contenair{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.infoL{
    flex-direction: column;
    
}

.title_logement{
   font-size: 36px;
   font-weight: 500;
   /* margin-right: auto; */
}

.head_location {
    margin: 10px  0px;
    font-weight: 500;

}


  .tagC {
    width: 100%;
    display: flex;
    gap:15px;
    position: relative;
    margin-top: 20px;
  }


.Accordeon {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
.tag {
    background-color: #ff6060;
    color: aliceblue;
    display: flex;
    border-radius: 5px;
    padding: 3px 30px;
    font-size: 15px;
  }

  .logement_host {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .host_infos{
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:15px;
    text-align: right;
    flex-wrap: nowrap;
    width: min-content;
  }


.host_pic {
    border-radius: 50%;
    width: 70px;
    object-fit: cover;
     /* margin-right: -20px;  */
  }
  