section {
  display: flex;
  flex-direction: column;
    margin: 0px 18px;  
   min-height: 100%; 
   gap: 30px; 
   
}

.appartementGrid {
  position: relative;
  border-radius: 15px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 30px; */
  gap: 30px;
  padding: 25px;
}



/***** MOBILES ******/

@media screen  and (max-width:390px){
    .appartementGrid{
     background-color: white;
     
    }
   section {
    margin: auto;
    gap: 10px;
   }
}