section {
  display: flex;
  flex-direction: column;
    margin: 0px 28px;  
    
   /* min-height: 100%;  */
   gap: 30px; 
   
   
   
}

.appartementGrid {
  position: relative;
  border-radius: 15px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 30px; */
  gap: 30px;
  padding: 45px  25px;
  margin-bottom: 30px;
}

/********* TABLETTES ********/
@media screen  and (max-width: 820px){
  .appartementGrid {
    padding: 25px 10px;
    background-color: white;
  }
}

/***** MOBILES ******/

@media screen  and (max-width:420px){
    .appartementGrid{
    
     padding: 10px;
    }
   section {
    margin: auto;
    gap: 10px;
   }
}

@media screen  and (max-width: 280px){

  .appartementGrid {
    padding: 10px;
  }
  
}