
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding:   30px  0;
    
    max-width: 1240px;
}

ul{
    list-style: none;
    padding: 0px;
    font-size: larger;
    
}

ul li{
    display: inline-block;
    margin: 25px;   
    font-size: 25px;
    justify-content: space-between;
}
 
a{ 
    text-decoration: none;
    color: black;
}

.link{
    color: #FF6060;
}

.link:hover{
    text-decoration: underline;
}

.activated{
    text-decoration: underline;
    color: #FF6060;
    font-weight: 300;
}

.logo {
    width: 200px;
    
}


/***** TABLETTES  ********/

@media screen and (max-width:750px) {

    ul li {
        font-size: 20px;
        
    }
}



/***** MOBILES  ***********/

@media screen and (max-width:420px){
    .logo{
        max-width: 140px;
    
    }
    ul{
       margin-left: 5px;

    }

    ul li {
        display: inline-block;
         font-size: 14px; 
        margin: 5px;
        text-transform: uppercase;
    }
   

   .activated{
    text-transform: uppercase;
   }
    header {
        padding: 25px;
        width: 100%;
        margin: auto;
    }
}
/****** GALAXY FOLD *******/

@media screen  and (max-width: 280px){
    .logo {
        width: 90px;
    }

    ul li {
        font-size: 10px;
    }
}