.App {
  text-align: center;
  color: blueviolet;
}
body {
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 
.App-link {
  color: #61dafb;
} */
