.BannerAbout {
    position: relative;
    height: 230px;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
    width: 90%;
}
.bannerImg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}


/****** TABLETTES *****/




/******* MOBILES *******/

@media screen  and (max-width: 390px){
    .BannerAbout{
        border-radius: 10px;
        width: 90%;
        height: 200px;

    }
}